:root
{
    --geen-slight: rgb(127,255,212);
}

.header-content
{
    min-width: 100%;
    min-height: 45px;    

    background-color: #f47575;

    margin: 15px auto;
    border-radius: 7px;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

h1
{
    text-align: center;
    font-size: 25px;
    font-family: monospace;

    padding-top: 6px;
}

.profile-section
{
    text-align: center;    
}

.profile-pic
{
    width: 410px; 
    height: 410px; 

    border-radius: 100%;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

body
{
    background: rgb(193, 248, 232);
}

.details-section
{
    text-align: center;
    display: flex;
    flex-direction: column;
}

li
{
    width: 600px;
    margin: 0 auto;

    font-size: 40px;
    text-align: left;
}

h2
{
    font-family:'Times New Roman', Times, serif ;
    font-size: 70px;

    margin: 20px sauto;
}

button
{
    min-width: 270px;
    padding: 10px;
    margin: 10px auto 10px auto;

    background-color: #86e76e;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    border-radius: 4px;
}

.btn
{
    color: black;
    font-size: 30px;
}

.btn:hover
{
    color: red;
    font-weight: bold;
}

footer
{
    bottom: 0;
    left: 0;
    width: 270px;
}
